<hello name="{{ name }}"></hello>
<app-home></app-home>


<body>
	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="d-block w-100" src="http://placehold.it/32x32" alt="First slide">
    </div>
				<div class="carousel-item">
					<img class="d-block w-100" src="..." alt="Second slide">
    </div>
					<div class="carousel-item">
						<img class="d-block w-100" src="..." alt="Third slide">
    </div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				<!-- 
<div class="jumbotron text-center" style="margin-bottom:0">

  <h1>My First Bootstrap 4 Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div> -->

				<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

					<a class="navbar-brand" routerLink="/home">Trang chủ</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
					<div class="collapse navbar-collapse" id="collapsibleNavbar">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" routerLink="products">Sản phẩm</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" routerLink="#">Giới thiệu </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" routerLink="#">Liên hệ</a>
							</li>
						</ul>

					</div>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm..." aria-label="Search">
						<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Tìm kiếm</button>
					</form>
				</nav>

				<div class="container" style="margin-top:30px">
					<div class="row">
						<div class="col-sm-3">
							<h2>My Shop</h2>
							<h5>Photo of me:</h5>
							<div class="fakeimg">Fake Image</div>
							<p>Some text about me in culpa qui officia deserunt mollit anim..</p>
							<ul class="nav nav-pills flex-column">
								<li class="nav-item">
									<a class="nav-link active" routerLink="#">Danh mục sản phẩm</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" routerLink="/home">Danh mục 1</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" routerLink="/home">Danh mục 2</a>
								</li>
								<li class="nav-item">
									<a class="nav-link disabled" routerLink="/home">Danh mục 3</a>
								</li>
							</ul>
							<hr class="d-sm-none">
						</div>
             <router-outlet></router-outlet>
						<div class="col-sm-3">
              
							<h2>TITLE HEADING</h2>
							<h5>Title description, Dec 7, 2017</h5>
							<div class="fakeimg">Fake Image</div>
							<p>Some text..</p>
							<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
								elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
								minim veniam, quis nostrud exercitation ullamco.</p>
							<br>
							<h2>TITLE HEADING</h2>
							<h5>Title description, Sep 2, 2017</h5>
							<div class="fakeimg">Fake Image</div>
							<p>Some text..</p>
							<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
								elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
								minim veniam, quis nostrud exercitation ullamco.</p>
						</div>
						<div class="col-sm-3">
							<h2>TITLE HEADING</h2>
							<h5>Title description, Dec 7, 2017</h5>
							<div class="fakeimg">Fake Image</div>
							<p>Some text..</p>
							<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
								elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
								minim veniam, quis nostrud exercitation ullamco.</p>
							<br>
							<h2>TITLE HEADING</h2>
							<h5>Title description, Sep 2, 2017</h5>
							<div class="fakeimg">Fake Image</div>
							<p>Some text..</p>
							<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
								elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
								minim veniam, quis nostrud exercitation ullamco.</p>
						</div>
						<div class="col-sm-3">
							<h2>TITLE HEADING</h2>
							<h5>Title description, Dec 7, 2017</h5>
							<div class="fakeimg">Fake Image</div>
							<p>Some text..</p>
							<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
								elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
								minim veniam, quis nostrud exercitation ullamco.</p>
							<br>
							<h2>TITLE HEADING</h2>
							<h5>Title description, Sep 2, 2017</h5>
							<div class="fakeimg">Fake Image</div>
							<p>Some text..</p>
							<p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
								elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
								minim veniam, quis nostrud exercitation ullamco.</p>
						</div>
					</div>

				</div>
				<!-- <router-outlet></router-outlet> -->

				<div class="jumbotron text-center" style="margin-bottom:0">
					<div class="col-sm-4">
						<p>cột x
						</p>
					</div>
					<div class="col-sm-4">
						<p>cột 1</p>
					</div>
					<div class="col-sm-4">
						<p>cột 1</p>
					</div>

					<p class="m-0 text-center text-black">Copyright &copy;
						Website design by Namlvph07267 </p>
				</div>

</body>